:root {
    /* Color palette */
    --red: #ef3d3f;
    --yellow: #f1ec00;
    --light-blue: #1e98b5;
    --purple: #4a297e;
    --beige: #e0d8c4;
    --pink: #db54a5;
    --magenta: #e6037d;
    --teal: #00cac8;
    --dark-blue: #0086d5;
    --navy-blue: #17255f;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--navy-blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--magenta);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--pink);
}

/* Arcade Classic font */
@font-face {
	font-family: 'arcadeclassic';
	src: url(../fonts/arcadeclassic.ttf) format(truetype)
}

/* Quiglew font */
@font-face {
	font-family: 'quiglew';
	src: url(../fonts/quiglew.ttf) format(truetype)
}

* {
    /* Default styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--beige);
}

*:hover {
    transition: 0.5s;
    color: var(--magenta);
}

hr {
    margin: 10px 0 25px 0;
}

/* Buttons */
button {
    cursor: pointer;
    background-color: var(--teal);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: 'arcadeclassic', sans-serif;
    transition: 0.3s;
}

button:hover {
    background-color: var(--magenta);
    transform: scale(1.1);
    transition: 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation */

nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

li>img {
    width: 100px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
}

/* Main */

body {
    font-family: 'arcadeclassic', sans-serif;
    font-size: 2rem;
    background-image: url(../images/background.jpg);
    background-size: contain;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
}

footer {
    font-size: 0.8em;
}

footer a {
    color: var(--pink);
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: var(--teal);
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1% 1%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

section {
    padding: 10% 5%;
    font-size: 1.8rem;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 55%;
    padding: 5%;
    margin: 5%;
    box-shadow: 25px 25px 50px var(--magenta);
    /* background-color: var(--navy-blue); */
    background: linear-gradient(80deg, var(--navy-blue) 40%, var(--purple) 60%);
    border-radius: 25px;
    text-align: justify;
    animation-name: translateFromLeft;
    animation-duration: 1.8s;
    animation-timeline: view();
    animation-range: entry;
}

.right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: auto; /* Aligns to the right */
    animation-name: translateFromRight;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--yellow);
}

span {
    color: var(--red);
}

a span {
    text-decoration: underline;
}

a span:hover {
    color: var(--teal);
    transition: 0.3s;
}

hr.vertical {
    border: 2px solid var(--magenta);
    height: 50px;
    padding: 0;
    margin: 0;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: animateTop;
    animation-duration: 0.4s
}

.modal span {
    font-size: 3rem;
    margin: 0 30% 0 0;
    align-self: flex-end;
    cursor: pointer;
}

.modal span:hover {
    color: var(--magenta);
}

.modal li {
    display: flex;
    justify-content: space-between;
    width: 120%;
}

/* Page loader */
.loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
}

.loader-active {
    display: flex;
}

.loader-bar {
    font-size: 4rem;
    background:linear-gradient(90deg, var(--navy-blue) 50%,#0000 0) right/200% 100%;
    animation: animateLoader 2s infinite linear;
}
  
.loader-bar::before {
    content: "Loading...";
    color: #0000;
    padding: 0 5px;
    background: linear-gradient(90deg,var(--red) 50%, var(--beige) 0);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: inherit;
    background-position: inherit;
}

/* SVG */

.footer-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer-curve svg {
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 256px;
    transform: rotateY(180deg);
}

.footer-curve .shape-fill {
    fill: var(--navy-blue);
}

.header-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.header-curve svg {
    position: relative;
    display: block;
    width: calc(202% + 1.3px);
    height: 258px;
}

.header-curve .shape-fill {
    /* fill: linear-gradient(90deg, var(--navy-blue) 0%, var(--magenta) 100%); */
    /* fill: red; */
    fill: var(--navy-blue);
}

/* Animations */

@keyframes translateFromLeft {
    from { transform: translate(-300%, 0); }
    to { transform: translate(0, 0); }
}

@keyframes translateFromRight {
    from { transform: translate(300%, 0); }
    to { transform: translate(0, 0); }
}

@keyframes animateTop {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes animateLoader {
    100%{background-position: left}
}  