:root {
    --background-color: rgb(12, 13, 14);
    --box-color: rgb(24, 26, 28);
    --white-color: rgb(242, 242, 242);
    --theme-color: rgb(178, 63, 63);
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
}

p { color: var(--white-color); }

.taskbar {
    background-color: var(--box-color);
    text-align: right;
    width: 100%;
}

.taskbar_button {
    background-color: var(--box-color);
    color: var(--white-color);
    border: 0;
    transition: all 0.3s ease-in-out;
    height: 50px;
    width: 80px;
}

.taskbar_button:hover {
    transform: scale(1.2);
}

.scroller {
    background-color: var(--box-color);
    color: var(--white-color);
    margin: 15px auto;
    width: 320px;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}